* {
    box-sizing: border-box;
}

.first-color { 
	background: #e7eaf6; 
}
	
.second-color { 
	background: #a2a8d3; 
}

.third-color { 
	background: #38598b; 
}

.fourth-color { 
	background: #113f67; 
}


header{
    font-size: 16px;
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: #e7eaf6;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#lang-switch{
    position: sticky;
    display: flex;
    justify-content: flex-end;
}

#lang-switch a{
    color: #38598b;
    text-decoration: none;
    padding: 10px;
    display: block;
}

#lang-switch svg{
    height: 24px;
    width: auto;
    border: solid 2px #38598b;
    border-radius: 4px;
}

h2{
    color:#113f67;
    text-align: center;
    text-decoration: underline solid #113f67 4px;
    text-underline-offset: 10px;
}

p{color: #404042;}

nav{
    position: fixed;
    left: 0;
    height: 100vh;
    margin: 0px;
    background-color: #a2a8d3;
    border-right: 1px solid #38598b;
}

nav ul{
    list-style-type: none;
    left: 0;
    padding:  0px;
    margin: 0px;
}

nav a{
    color: #38598b;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

nav a:hover{
    color: #113f67;
}

nav li{
    color: #38598b;
    padding: 20px;
    border: 1px solid #38598b;
}

nav li:hover{
    background-color: #8187b4;
    border-right: 4px solid #113f67;
}

nav a.active{
    color: #113f67;
    font-weight: bold;
}

section{
    min-height: 100vh;
    margin-left: 220px;
    padding: 20px;
}

#about-box{
    background-color: #e7eaf6;
    border: 2px solid #113f67;
    border-radius: 80px;
    overflow: auto;
    border-left: none;
}

#about-box img{
    float: left;
    border-radius: 50%;
    border: 2px solid #113f67;
    height: auto;
    width: 20%;
}

#about-box h3{
    text-align: center;
    color: #113f67;
}

#about-box p{
    padding: 40px;
    text-align: justify;
    margin-left: 180px;
    line-height: 1.5;
}

#publications li{
    color: #404042;
}

#publications li a{
    color: #113f67;
    text-decoration: none;
}

#publications li a:hover{
    text-decoration: underline;
}

/* We use the box class for the research and contact sections */
.box{
    background-color: #a2a8d3;
    border: 2px solid #113f67;
    border-radius: 10px;
    overflow: auto;
}

.box img{
    height: auto;
    width: 50%;
    float: left;
    margin-right: 30px;
}

.box p{
    padding: 10px;
    margin: 20px;
    text-align: justify;
    line-height: 1.4;
}

.box button{
    background-color: #e7eaf6;
    color: #113f67;
    border-radius: 5px;
    border: 2px solid #113f67;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    padding: 10px 20px;
}

.box button:hover{
    background-color: #c0c2cb;
}


.box ul{
    list-style-type: none;
    padding: 20px;
    margin: 20px;
}

.box li{
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #113f67;
}

.box li a{
    color: #113f67;
    text-decoration: none;
}

.box li a:hover{
    color: #38598b;
}

.box svg{
    height: 24px;
    width: auto;
}

footer{
    color: rgb(142, 139, 145);
    margin-left: 220px;
    text-align: center;
    font-size: small;
}


/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    nav{
        position: sticky;
        top: 0;
        height: auto;
        width: 100%;
        background-color: #e7eaf6;
        border-right: none;
        border-bottom: 1px solid #38598b;
    }

    #top-id{
        display: none;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
    }

    nav li{
        padding: 10px;
        border: none;
    }

    nav li:hover{
    background-color: #8187b4;
    border-bottom: 4px solid #113f67;
    border-right: none;
}

    #lang-switch{
        position: sticky;
        display: flex;
        justify-content: flex-end;
        margin-top: 70px;
        margin-block: 0px;
}

    section{
        margin-left: 0;
        padding: 20px;
    }

    #about-box{
        border-left: 2px solid #113f67;
    }

    #about-box img{
        width: 50%;
        height: auto;
        margin: 10px auto;
        display: block;
        float: none;
    }

    #about-box p{
        margin-left: 0;
        padding: 10px;
    }

    .box img{
        width: 100%;
        margin: auto;
        display: block;
        float: none;
    }

    .box button{
        margin-bottom: 20px;
        display: block;
        margin-left: none;
    }

    footer{
        margin-left: 0;
    }
}