body{
    background-color:hsl(208, 100%, 97%) ;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2{
    text-align: center;
}

nav{
    position: fixed;
    left: 0;
    height: 100vh;
    margin: 0px;
    background-color: hsl(210, 6%, 81%);
    border-right: 1px solid rgb(122, 121, 123);
}

nav ul{
    list-style-type: none;
    left: 0;
    padding:  0px;
    margin: 0px;
}

nav a{
    color: rgb(142, 139, 145);
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

nav a:hover{
    background-color: rgb(103, 98, 110);
    color: rgb(101, 47, 152);
}

nav li{
    padding: 20px;
    border: 1px solid rgb(122, 121, 123);
}

section{
    height: 100vh;
    margin-left: 220px;
    padding: 20px;
}


#profile{
    float: left;
    padding: 10px;
}


footer{
    margin-left: 220px;
    text-align: center;
}